#mensBtn
{
    width: 200px;
    font: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    padding: 10px;
    margin-top: -60px;
    
    margin-bottom: 20px;
}
#womensBtn
{
    width: 200px;
    font: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    padding: 10px;
    margin-left: 20px;
    margin-top: -60px;
    margin-bottom: 20px;
   
}
.profiles
{
    height:280px;
    width: 200px;
    margin-left: 65px;
}
.border Card {
    transition: .5s ease;
    color: white;
    
    border-color: white;
   
    }
    
    .border Card:hover{
        color: white;
        border-color: white;
    transition: .5s ease;
    }

#cardBdy
{
    padding-top: 20px;   
    background: #eacda3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #d6ae7b, #eacda3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #d6ae7b, #eacda3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    margin: 5px;
    margin-top: -5px;
    margin-bottom: 15px;
}
#aplus
{
    display: block;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-bottom: 19px;
    font-weight: bold;
}
.role
{
    width: 40px;
    height: 40px;
    margin-left: 20px;
}